{% extends 'layout.html' %}
{% block title %}Edit {{ medium.id }}{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/tables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/view.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/edit.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
{% endblock %}
{% from 'media.jinja' import render_view, render_info %}
{% block content %}
	<div id="edit_medium">
		<div class="medium" data-id="{{ medium.id }}" data-upload-time="{{ (medium.upload_time.timestamp() * 1000)|int }}" data-creation-time="{{ (medium.creation_time.timestamp() * 1000)|int }}" data-category="{{ medium.category }}" data-mime="{{ medium.mime }}" data-size="{{ medium.size }}" data-data1="{{ medium.data1 }}" data-data2="{{ medium.data2 }}" data-data3="{{ medium.data3 }}" data-data4="{{ medium.data4 }}" data-data5="{{ medium.data5 }}" data-data6="{{ medium.data6 }}">
			{{ render_view(medium) }}
		</div>
		<div class="info">
			<span class="manage">
				<a href="{{ url_for('media_archive.view_medium', medium_id=medium.id) }}">View</a>
			</span>
			<span class="size">{{ medium.size }} bytes</span>
			<span class="creation_date" data-timestamp="{{ medium.creation_time.timestamp() }}">{{ medium.creation_time.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}</span>
			{{ render_info(medium) }}
		</div>
		<table>
			<tr>
				<td>Uploaded</td>
				<td data-timestamp="{{ medium.upload_time.timestamp() }}">{{ medium.upload_time.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}</td>
			</tr>
			<tr>
				<td>Mimetype</td>
				<td>{{ medium.mime }}</td>
			</tr>
		</table>
		{% include 'medium_form_errors.html' %}
		<form method="post" enctype="multipart/form-data" novalidate>
			{% include 'medium_groups_form.html' %}
			{% include 'medium_properties_form.html' %}
			{% include 'fuzzy_time.html' %}
			<div id="creation">
				<legend>Replacement</legend>
				<span class="form_file">
					<label for="file_upload">Replace by Upload</label>
					<input id="file_upload" name="file_upload" type="file" required>
					<span class="file_selection" data-file-selected="File selected" data-file-not-selected="No file selected"></span>
				</span>
				<br>
				<label for="file_uri">Replace by URI</label>
				<input id="file_uri" name="file_uri" type="text" value="{{ fields['file_uri'] }}" placeholder="Enter URI of remote file">
			</div>
			<input type="submit" value="Save Changes">
		</form>
		<a id="generate_summaries" href="{{ url_for('media_archive.generate_summaries', medium_id=medium.id) }}">
			Generate Summaries
		</a>
		<a id="remove_summaries" href="{{ url_for('media_archive.remove_summaries', medium_id=medium.id) }}">
			Remove Summaries
		</a>
		<a id="remove_file" href="{{ url_for('media_archive.remove_file', medium_id=medium.id) }}">
			Remove File
		</a>
		<a id="remove_medium" href="{{ url_for('media_archive.remove_medium', medium_id=medium.id) }}">
			Remove Completely
		</a>
		{% if 0 < medium.tags|length %}
			{# tags rendering #}
		{% endif %}
	</div>
{% endblock %}
