{% extends 'layout.html' %}
{% block title %}Help{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/tables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
{% endblock %}
{% block content %}
	<div id="help">
		<h2>Help</h2>
		<div></div>
		{% if (
			g.media_archive.accounts.current_user_has_global_group('manager')
			or g.media_archive.accounts.current_user_has_global_group('contributor')
		) %}
		<h2>Advanced Help</h2>
		<div></div>
		{% endif %}
	</div>
{% endblock %}
