{% if medium.uris['static'][1024] and medium.uris['fallback'][1024] %}
	<div class="summary view">
		<a href="{{ medium.uris['original'] }}">
			<picture>
				{% if 'image/gif' == medium.mime and 0 < medium.data4 %}
					<source srcset="{{ medium.mime and medium.uris['original'] }}" type="image/gif">
				{% endif %}
				<source srcset="{{ medium.uris['static'][1024] }}" type="image/webp">
				<source srcset="{{ medium.uris['fallback'][1024] }}" type="image/png">
				<img srcset="{{ medium.uris['fallback'][1024] }}" alt="">
			</picture>
		</a>
	</div>
{% else %}
	{% include 'generic_view.html' %}
{% endif %}
