{% set searchabilities = {
	'hidden': 'Hidden',
	'groups': 'Groups',
	'public': 'Public',
} %}

{% macro searchability_display(searchability) %}
	{% if searchability in searchabilities %}
		{{ searchabilities[searchability] }}
	{% else %}
		{{ searchability }}
	{% endif %}
{% endmacro %}

{% set protections = {
	'none': 'None',
	'groups': 'Groups',
	'private': 'Private',
} %}

{% macro protection_display(protection) %}
	{% if protection in protections %}
		{{ protections[protection] }}
	{% else %}
		{{ protection }}
	{% endif %}
{% endmacro %}

{% macro filesize(bytesize) %}
	{% set size = bytesize %}
	{% set suffix = 'b' %}
	{% if bytesize > 1073741824 %}
		{% set size = size / 1073741824 %}
		{% set suffix = 'GB' %}
	{% elif bytesize > 1048576 %}
		{% set size = size / 1048576 %}
		{% set suffix = 'MB' %}
	{% elif bytesize > 1024 %}
		{% set size = size / 1024 %}
		{% set suffix = 'KB' %}
	{% endif %}
	{{ '%.2f'|format(size) }} {{ suffix }}
{% endmacro %}
