<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="View media {{ medium.id }}">
{% set repopulate = g.media_archive.populate_uris(medium, True) %}
<meta name="twitter:image" content="{{ medium.uris['fallback'][g.media_archive.config['summary_values']['view']] }}">
<meta property="og:title" content="View media">
<meta property="og:type" content="persephone:medium-view">
<meta property="og:image" content="{{ medium.uris['fallback'][g.media_archive.config['summary_values']['view']] }}">
{% if medium.uris['reencoded']['clip'] %}
	<meta property="og:video" content="{{ medium.uris['reencoded']['clip'] }}">
{% endif %}
{% set description = '' %}
{% for tag in medium.tags %}
	{% if 'author:' == tag[:7] %}
		<meta property="og:author" content="{{ tag[7:] }}">
	{% elif 'title:' == tag[:6] %}
		{% set description = tag[6:] %}
	{% endif %}
{% endfor %}
<meta name="twitter:description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">
