{% set searchabilities = {
	'hidden': 'Hidden',
	'groups': 'Groups',
	'public': 'Public',
} %}

{% macro searchability_display(searchability) %}
	{% if searchability in searchabilities %}
		{{ searchabilities[searchability] }}
	{% else %}
		{{ searchability }}
	{% endif %}
{% endmacro %}

{% set protections = {
	'none': 'None',
	'groups': 'Groups',
	'private': 'Private',
} %}

{% macro protection_display(protection) %}
	{% if protection in protections %}
		{{ protections[protection] }}
	{% else %}
		{{ protection }}
	{% endif %}
{% endmacro %}

{% macro render_view(medium) %}
	{% if not medium.uris['original'] %}
		{% include 'generic_view.html' %}
	{% elif 'application/x-shockwave-flash' == medium.mime %}
		{% include 'flash_view.html' %}
	{% elif medium.category in ['image', 'audio', 'video'] %}
		{% set view_template = (medium.category + '_view.html') %}
		{% include view_template %}
	{% else %}
		{% include 'generic_view.html' %}
	{% endif %}
{% endmacro %}

{% macro render_thumb(medium) %}
	{% if not medium.id %}
		{% include 'protected_thumb.html' %}
	{% elif not medium.uris['original'] %}
		{% include 'generic_thumb.html' %}
	{% elif medium.category in ['image', 'audio', 'video'] %}
		{% set thumb_template = (medium.category + '_thumb.html') %}
		{% include thumb_template %}
	{% else %}
		{% include 'generic_thumb.html' %}
	{% endif %}
{% endmacro %}

{% macro render_info(medium) %}
	{% if not medium.uris['original'] %}
		{% include 'generic_info.html' %}
	{% elif 'application/x-shockwave-flash' == medium.mime %}
		{% include 'flash_info.html' %}
	{% elif medium.category in ['image', 'audio', 'video'] %}
		{% set info_template = (medium.category + '_info.html') %}
		{% include info_template %}
	{% else %}
		{% include 'generic_info.html' %}
	{% endif %}
{% endmacro %}
