{% if 0 < groups|length %}
	{% from 'permissions.jinja' import group_display %}
	<div id="groups">
		<legend>Required Groups</legend>
		<input type="hidden" name="groups" value="1">
		{% for group in groups %}
			{% set checked = '' %}
			{% if group in fields['groups'] %}
				{% set checked = ' checked' %}
			{% endif %}
			<input id="groups[{{ group }}]" name="groups[{{ group }}]" type="checkbox"{{ checked }}>
			<label for="groups[{{ group }}]">{{ group_display(group) }}</label>
		{% endfor %}
	</div>
{% endif %}
