{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/generic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/search.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
{% endblock %}
{% block content %}
	<div id="media_search">
		{% from 'media.jinja' import render_thumb, render_protected %}
		<div id="results">
			{% for medium in media %}
				<div class="thumbnail"{% include 'rgb.html' %}>
					{{ render_thumb(medium) }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
