{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/pages.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/general.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/search.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
	{% if manage %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/manage.css') }}">
	{% endif %}
{% endblock %}
{% block content %}
	{% if search_field %}
		{% block meta %}
			{{ super() }}
			{% for tag_suggestion_list in tag_suggestion_lists %}
				<meta name="tag_suggestion_list" value="{{ tag_suggestion_list }}">
			{% endfor %}
		{% endblock %}
		<div id="search">
			<form method="get">
				<input type="text" id="tags" name="tags" value="{{ tags_query }}" data-max-tags="{{ g.media_archive.config['maximum_search_tags'] }}" data-placeholder="Tag search">
				<br>
				<input type="submit" value="Search">
			</form>
			<script type="module" src="{{ url_for('media_archive.static', filename='scripts/search.js') }}"></script>
		</div>
	{% endif %}
	<div class="menu">
		{% if 0 < media|length %}
			<span id="total_media">{{ total_media }} media</span>
			<a href="{{ url_for('media_archive.view_medium', medium_id=media[0].id, tags=tags_query) }}">Slideshow</a>
		{% endif %}
		<a href="{{ url_for('media_archive.help') }}">Help</a>
	</div>
	{% if 0 < tags_this_page|length %}
		<div id="tags_this_page">
			<span class="header">Tags this page</span>
			<div>
				{% for tag in tags_this_page %}
					{% set clear_query = re.sub('#+', '#', re.sub('(^|#)\-?' + tag + '(#|$)', '#', tags_query + '#')) %}
					{% if '#' == clear_query[0] %}
						{% set clear_query = clear_query[1:] %}
					{% endif %}
					<span class="tag" data-tag="{{ tag }}">
						<a href="{{ url_for(current_endpoint, tags=tag, **kwargs) }}" title="Search this tag">{{ tag }}</a>
						<a class="action add" href="{{ url_for(current_endpoint, tags=clear_query + tag, **kwargs) }}" title="Add this tag to current search">+</a>
						<a class="action remove" href="{{ url_for(current_endpoint, tags=clear_query + '-' + tag,**kwargs) }}" title="Remove this tag from current search">-</a>
					</span>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div id="media_search">
		{% if 0 == media|length %}
			<h1>No results</h1>
		{% else %}
			<div id="results">
				{% for medium in media %}
					{% include 'thumbnail.html' %}
				{% endfor %}
			</div>
			{% from 'pages_list.jinja' import pages_list %}
			{{ pages_list(total_pages=total_pages, url=url_for(current_endpoint, page='PAGE', tags=tags_query, **kwargs).replace('page=PAGE', 'page={}'), current_page=pagination['page']) }}
		{% endif %}
	</div>
{% endblock %}
{% if manage %}
	{% block topmenu %}
		<a id="top_manage">Manage</a>
		{{ super() }}
	{% endblock %}
{% endif %}
{% if manage %}
	{% block body %}
		<div id="manage_drawer">
			<div id="manage_panels">
				{# management panels #}
			</div>
			<span id="manage_actions">
				<a id="manage_owner" title="Change owner">Owner</a>
				<a id="manage_creation" title="Change creation date">Creation</a>
				<a id="manage_build" title="Rebuild summaries">Rebuild</a>
				<a id="manage_remove" title="Remove">Remove</a>
				<a id="manage_groups" title="Change groups">Groups</a>
				<a id="manage_searchability" title="Change searchability">Searchability</a>
				<a id="manage_protection" title="Change protection">Protection</a>
				<a id="manage_generate_set" title="Generate set tag">Make Set</a>
				<a id="manage_copy_tags" title="Copy tags">Copy Tags</a>
				<a id="manage_add_tags" title="Add tags">Add Tags</a>
				<a id="manage_remove_tags" title="Remove tags">Remove Tags</a>
				<a id="manage_select_all" title="Select all">Select All</a>
				<a id="manage_select_none" title="Select none">Select None</a>
			</span>
			<span id="selection_total" data-all="All">0</span>
		</div>
		<script type="module" src="{{ url_for('media_archive.static', filename='scripts/manage.js') }}"></script>
		{{ super() }}
	{% endblock %}
{% endif %}
