{% extends 'layout.html' %}
{% block title %}Tags List{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/tables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/tabular_list.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/pages.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags_list.css') }}">
{% endblock %}
{% block content %}
	<div id="tags_list">
		<form method="get">
			<label for="tag">Tag</label>
			<input id="tag" name="tag" type="text" value="{{ search['tag'] }}">
			<br>
			<input type="hidden" name="sort" value="{{ pagination['sort'] }}">
			<input type="hidden" name="order" value="{{ pagination['order'] }}">
			<input type="hidden" name="perpage" value="{{ pagination['perpage'] }}">
			<input type="submit" value="Search">
		</form>
		{% if 0 == tags|length %}
			<h2>No results</h2>
		{% else %}
			{% set pip = '▲' %}
			{% set reverse_order = 'desc' %}
			{% if 'desc' == pagination['order'] %}
				{% set pip = '▼' %}
				{% set reverse_order = 'asc' %}
			{% endif %}
			{% set columns = {
				'tag': {
					'sortable': True,
					'label': 'Tag'
				},
				'count': {
					'sortable': True,
					'label': 'Count'
				},
			} %}
			<table>
				<thead>
					<tr>
						<td colspan="2">{{ '{} unique tags'.format(total_tags) }}</td>
					</tr>
					<tr>
						{% for column in columns %}
							<td>
								{% if columns[column]['sortable'] %}
									<a href="{{ url_for('media_archive.manage_tags', sort=column, order=pagination['order'], perpage=pagination['perpage'], **search) }}">
										{{ columns[column]['label'] }}
									</a>
									{% if column == pagination['sort'] %}
										<a class="order" href="{{ url_for('media_archive.manage_tags', sort=pagination['sort'], order=reverse_order, perpage=pagination['perpage'], **search) }}">
											{{ pip }}
										</a>
									{% endif %}
								{% else %}
									{{ columns[column]['label'] }}
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for tag in tags %}
					<tr>
						<td>
							<span class="tag" data-tag="{{ tag.tag }}">
								<a href="{{ url_for('media_archive.manage_media', tags=tag.tag) }}">{{ tag.tag }}</a>
								<a href="{{ url_for('media_archive.edit_tag', mode='remove', tag=tag.tag) }}" class="action remove" title="Remove this tag from media">ˣ</a>
								<a href="{{ url_for('media_archive.edit_tag', mode='accompany', tag=tag.tag) }}" class="action accompany" title="Add a tag to media with this tag">+</a>
								<a href="{{ url_for('media_archive.edit_tag', mode='replace', tag=tag.tag) }}" class="action replace" title="Replace this tag with another tag">›</a>
							</span>
						</td>
						<td>{{ tag.count }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% from 'pages_list.jinja' import pages_list %}
			{{ pages_list(total_pages=total_pages, url=url_for('media_archive.manage_tags', sort=pagination['sort'], order=pagination['order'], perpage=pagination['perpage'], page='PAGE', **search).replace('page=PAGE', 'page={}'), current_page=pagination['page']) }}
		{% endif %}
	</div>
{% endblock %}
