{% extends 'layout.html' %}
{% block title %}Upload{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/upload.css') }}">
{% endblock %}
{% block content %}
	<div id="upload">
		{% include 'medium_form_errors.html' %}
		<form method="post" enctype="multipart/form-data" novalidate>
			{% include 'medium_groups_form.html' %}
			{% include 'medium_properties_form.html' %}
			<div id="tagging">
				<legend>Tagging</legend>
				<input id="author_tag" name="author_tag" type="checkbox"{% if fields['author_tag'] %} checked{% endif %}>
				<label for="author_tag">Author Tag</label>
				<br>
				<input id="filename_tag" name="filename_tag" type="checkbox"{% if fields['filename_tag'] %} checked{% endif %}>
				<label for="filename_tag">Filename Tag</label>
				<br>
				<label for="tags">Additional Tags</label>
				<input id="tags" name="tags" type="text" value="{{ fields['tags'] }}">
			</div>
			<div id="creation">
				<span class="form_file">
					<label for="file_upload">File by Upload</label>
					<input id="file_upload" name="file_upload" type="file" required>
					<span class="file_selection" data-file-selected="File selected" data-file-not-selected="No file selected"></span>
				</span>
				<br>
				<label for="file_uri">File by URI</label>
				<input id="file_uri" name="file_uri" type="text" value="{{ fields['file_uri'] }}" placeholder="Enter URI of remote file">
			</div>
			<input type="submit" value="Create Medium">
		</form>
	</div>
{% endblock %}
