{% extends 'layout.html' %}
{% block title %}View {{ medium.id }}{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/general.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/view.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/navigation.css') }}">
{% endblock %}
{% set view_medium = medium %}
{% if medium.cover %}
	{% set view_medium = medium.cover %}
{% endif %}
{% macro image_view(medium, view_medium) %}
	{% if view_medium.uris['static'][1024] and view_medium.uris['fallback'][1024] %}
		<div class="summary view">
			<a href="{{ medium.uris['original'] }}">
				<picture>
					{% if 'image/gif' == view_medium.mime and 0 < view_medium.data4 %}
						<source srcset="{{ view_medium.uris['original'] }}" type="image/gif">
					{% endif %}
					<source srcset="{{ view_medium.uris['static'][1024] }}" type="image/webp">
					<source srcset="{{ view_medium.uris['fallback'][1024] }}" type="image/png">
					<img srcset="{{ view_medium.uris['fallback'][1024] }}" alt="">
				</picture>
			</a>
		</div>
	{% else %}
		<div class="summary view nofile"><a href="{{ medium.uris['original'] }}">Original file</a></div>
	{% endif %}
{% endmacro %}
{% block content %}
	<div id="view_medium">
		<div class="medium" data-id="{{ medium.id }}" data-upload-time="{{ (medium.upload_time.timestamp() * 1000)|int }}" data-creation-time="{{ (medium.creation_time.timestamp() * 1000)|int }}" data-category="{{ medium.category }}" data-mime="{{ medium.mime }}" data-size="{{ medium.size }}" data-data1="{{ medium.data1 }}" data-data2="{{ medium.data2 }}" data-data3="{{ medium.data3 }}" data-data4="{{ medium.data4 }}" data-data5="{{ medium.data5 }}" data-data6="{{ medium.data6 }}"{% include 'medium_rgb.html' %}>
			{% if medium.uris['original'] %}
				{% if 'application/x-shockwave-flash' == medium.mime %}
					<div class="summary">
						{% set dimensions = '' %}
						{% if medium.data1 and medium.data2 %}
							{% set dimensions = [' width="', medium.data1, '" height="', medium.data2, '"']|join('') %}
						{% endif %}
						<object data="{{ medium.uris['original'] }}"{{ dimensions }}>
							<param name="movie" value="{{ medium.uris['original'] }}">
							<param name="allowFullScreen" value="true">
							<param name="quality" value="high">
							<embed src="{{ medium.uris['original'] }}" type="application/x-shockwave-flash" allowfullscreen="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"{{ dimensions }}>
						</object>
					</div>
				{% else %}
					{% if 'video' == medium.category %}
						{% set video_uri = '' %}
						{% if medium.uris['reencoded']['original'] %}
							{% set video_uri = medium.uris['reencoded']['original'] %}
							{% set video_mime = 'video/webm' %}
						{% elif medium.uris['original'] and (
							'video/mp4' == medium.mime
							or 'video/mpeg' == medium.mime
							or 'video/webm' == medium.mime
							or 'application/ogg' == medium.mime
							or 'video/ogg' == medium.mime
						) %}
							{% set video_uri = medium.uris['original'] %}
							{% set video_mime = medium.mime %}
						{% endif %}
						{% if video_uri %}
							<video 
								{% if medium.data1 and medium.data2 %}
									width="{{ medium.data1 }}" height="{{ medium.data2 }}" 
								{% endif %}
								{% if medium.uris['static']['1024'] %}
									poster="{{ medium.uris['static']['1024'] }}" 
								{% endif %}
								preload="auto" 
								controls loop>
								<source src="{{ video_uri }}" type="{{ video_mime }}">
								Video element not supported
							</video>
							{# <a href="{{ medium.uris['original'] }}">Original</a> #}
						{% else %}
							{{ image_view(medium, view_medium) }}
						{% endif %}
					{% elif 'audio' == medium.category %}
						{{ image_view(medium, view_medium) }}
						<audio controls>
							<source src="{{ medium.uris['original'] }}" type="{{ medium.mime }}">
							Audio element not supported
						</audio>
					{% else %}
						{{ image_view(medium, view_medium) }}
					{% endif %}
				{% endif %}
			{% else %}
				<div class="summary view nofile">No original file</div>
			{% endif %}
		</div>
		{% include 'media_navigation.html' %}
		{% include 'medium_info.html' %}
		{% include 'fuzzy_time.html' %}
		<div class="tags" data-visible-tags="{{ visible_tags }}">
			<div class="inner_tags">
				{% for tag in medium.tags %}
					<span class="tag" data-tag="{{ tag }}"><a href="{{ url_for(search_endpoint, tags=tag) }}">#{{ tag }}</a></span>
				{% endfor %}
			</div>
		</div>
		<script type="module" src="{{ url_for('media_archive.static', filename='scripts/view.js') }}"></script>
		{% if edit_tags %}
			{% block meta %}
				{{ super() }}
				{% for tag_suggestion_list in tag_suggestion_lists %}
					<meta name="tag_suggestion_list" value="{{ tag_suggestion_list }}">
				{% endfor %}
			{% endblock %}
			<div 
				class="tags_editor" 
				data-show-link="Edit Tags" 
				data-save-link="Save" 
				data-discard-link="Discard" 
				data-copy-link="Copy" 
				data-saving-placeholder="Saving..." 
				data-saving-in-progress="Saving in progress" 
				data-problem-saving="Problem saving tags" 
				data-search-tag-title="Search for this tag" 
				data-search-uri="{{ url_for(search_endpoint, tags='PLACEHOLDER').replace('PLACEHOLDER', '{}') }}" 
				{% include 'tag_editor_attributes.html' %}>
				<form method="post">
					<input type="text" name="tags"{% if 0 < medium.tags|length %} value="{{ medium.tags|join('#') }}"{% endif %}>
					<br>
					<input type="submit" value="Save Tags">
				</form>
			</div>
			<script type="module" src="{{ url_for('media_archive.static', filename='scripts/view_tags_editor.js') }}"></script>
		{% endif %}
		{% include 'medium_sets.html' %}
	</div>
{% endblock %}
