{% extends 'layout.html' %}
{% block title %}View {{ medium.id }}{% endblock %}
{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='links/forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/generic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/view.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('media_archive.static', filename='links/tags.css') }}">
{% endblock %}
{% from 'media.jinja' import render_view, render_info %}
{% block content %}
	<div id="view_medium">
		<div class="medium" data-id="{{ medium.id }}" data-upload-time="{{ (medium.upload_time.timestamp() * 1000)|int }}" data-creation-time="{{ (medium.creation_time.timestamp() * 1000)|int }}" data-category="{{ medium.category }}" data-mime="{{ medium.mime }}" data-size="{{ medium.size }}" data-data1="{{ medium.data1 }}" data-data2="{{ medium.data2 }}" data-data3="{{ medium.data3 }}" data-data4="{{ medium.data4 }}" data-data5="{{ medium.data5 }}" data-data6="{{ medium.data6 }}">
			{{ render_view(medium) }}
		</div>
		<div class="info">
			{% if edit_medium %}
				<span class="manage">
					<a href="{{ url_for('media_archive.edit_medium', medium_id=medium.id) }}">Edit</a>
				</span>
			{% endif %}
			<span class="size">{{ medium.size }} bytes</span>
			<span class="creation_date" data-timestamp="{{ medium.creation_time.timestamp() }}">{{ medium.creation_time.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}</span>
			{{ render_info(medium) }}
			{% include 'fuzzy_time.html' %}
		</div>
		{% if 0 < medium.tags|length %}
			{# tags rendering #}
		{% endif %}
	</div>
{% endblock %}
