<div id="creation">
	<span class="form_file">
		<label for="file_upload">File by Upload</label>
		<input 
			id="file_upload" 
			name="file_upload" 
			type="file" 
			data-maximum-upload-filesize="{{ g.media.config['maximum_upload_filesize'] }}" 
			data-file-too-large="File Too Large" required>
		<span 
			class="file_selection" 
			data-file-selected="File selected" 
			data-file-not-selected="No file selected"></span>
	</span>
	<br>
	<label for="file_uri">File by URI</label>
	<input 
		id="file_uri" 
		name="file_uri" 
		type="text" 
		value="{{ fields['file_uri'] }}" 
		placeholder="Enter URI of remote file">
</div>
