<label for="owner_id">Owner</label>
<select id="owner_id" name="owner_id">
	{% from 'users.jinja' import user_display %}
	{% if contributors %}
		{% for user in contributors %}
			{% set selected = '' %}
			{% if user.id == fields['owner_id'] %}
				{% set selected = ' selected' %}
			{% endif %}
			<option 
				value="{{ user.id }}"{{ selected }}>{{ user_display(user) }}</option>
		{% endfor %}
	{% else %}
		<option 
			value="{{ fields['owner_id'] }}" 
			selected>
			{% if fields['owner_id'] == g.media.accounts.current_user.id %}
				{{ user_display(g.media.accounts.current_user) }}
			{% else %}
				{{ fields['owner_id'] }}
			{% endif %}
		</option>
	{% endif %}
</select>
<br>
