<div class="medium_info">
	{% include 'medium_like_block.html' %}
	{% from 'media.jinja' import filesize %}
	<span class="size">{{ filesize(medium.size) }}</span>
	<span 
		class="creation_date" 
		data-timestamp="{{ medium.creation_time }}">
		{{ medium.creation_datetime.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}
	</span>
	{% if 0 < medium.data1 and 0 < medium.data2 %}
		<span class="dimensions">
			<span class="width">{{ medium.data1 }}</span>x<span class="height">{{ medium.data2 }}</span>
		</span>
	{% endif %}
	{% if 1 < medium.data4 %}
		<span class="frames">{{ medium.data4 }} frames</span>
	{% endif %}
	{% if 0 < medium.data5 %}
		<span class="duration">{{ medium.data5 }} ms</span>
	{% endif %}
	{% if 0 < medium.data6 %}
		<span class="bitrate">{{ medium.data6 }} kbps</span>
	{% endif %}
</div>
