<table>
	<caption>Basic tags</caption>
	<tbody>
		<tr>
			<td>{tag}</td>
			<td>
				<span class="tag" data-tag="cat">
					<span>#cat</span>
				</span>
			</td>
			<td>Returns media which have the specified tag</td>
		</tr>
		<tr>
			<td>-{tag}</td>
			<td>
				<span class="tag" data-tag="-dog">
					<span>#dog</span>
				</span>
			</td>
			<td>Prefixing a tag with "-" will omit media which have that tag</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="tag" data-tag="creator:">
					<span>#creator:{creator name or handle}</span>
				</span>
			</td>
			<td>Used to specify the creator of a medium</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="tag" data-tag="character:">
					<span>#character:{subject name}</span>
				</span>
			</td>
			<td>Used to identify a character being portrayed</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="tag" data-tag="source:">
					<span>#source:{source title}</span>
				</span>
			</td>
			<td>Used to specify the source material where the content originated</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="tag" data-tag="title:">
					<span>#title:{title}</span>
				</span>
			</td>
			<td>Used to specify the title of an individual work</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="tag" data-tag="filename:">
					<span>#filename:{filename}</span>
				</span>
			</td>
			<td>Used to specify the original filename of a medium</td>
		</tr>
	</tbody>
</table>
