<table>
	<caption>Pagination</caption>
	<tbody>
		<tr>
			<td>
				<span class="tag" data-tag="sort:">
					<span>#sort:{creation | upload | color | size | likes | random}</span>
				</span>
			</td>
			<td>Choose how the results are sorted.</td>
		</tr>
		<tr>
			<td>
				<span class="tag" data-tag="order:">
					<span>#order:{asc | desc}</span>
				</span>
			</td>
			<td>Choose how the results are ordered.</td>
		</tr>
		<tr>
			<td>
				<span class="tag" data-tag="perpage:">
					<span>#perpage:{integer}</span>
				</span>
			</td>
			<td>Change the number of results per page.</td>
		</tr>
	</tbody>
</table>
