{% if 'youtube:' == medium.semantic_tags['embed'][:8] %}
	<iframe 
		width="512" 
		height="288" 
		src="https://www.youtube.com/embed/{{ medium.semantic_tags['embed'][8:] }}" 
		frameborder="0" 
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen></iframe>
{% elif 'vimeo:' == medium.semantic_tags['embed'][:6] %}
	<iframe 
		src="https://player.vimeo.com/video/{{ medium.semantic_tags['embed'][6:] }}" 
		width="512" 
		height="288" 
		frameborder="0" 
		webkitallowfullscreen 
		mozallowfullscreen 
		allowfullscreen></iframe>
{% endif %}
