#edit_medium {
	width: 400px;
	padding-top: 1px;
}
.info {
	border-radius: 0;
}
#groups, #properties, #creation {
	margin-top: 1em;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	overflow: hidden;
}
#groups {
	margin-top: 0px;
}
input[type=submit] {
	margin-top: 1em;
	border-radius: 0.25em;
}
input#generate_summaries,
label[for=generate_summaries],
label[for=generate_summaries] + br {
	display: none;
}
a#generate_summaries, #remove_summaries, #remove_file, #remove_medium {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
	border-radius: 0.25em;
	color: var(--f_l);
	font-weight: bold;
	cursor: pointer;
	box-sizing: border-box;
	line-height: 1.5em;
	padding: 0.1em 0.5em;
	text-decoration: none;
}
a#generate_summaries, #remove_file {
	margin-top: 2em;
	margin-bottom: 1px;
	background-color: var(--b_m);
	color: var(--f_m);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#remove_summaries, #remove_medium {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#remove_summaries, #remove_file {
	background-color: var(--b_l);
}
#remove_medium {
	background-color: #ff0000;
}
.summary video,
.summary picture,
.summary picture img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 128px;
}
.summary.nofile {
	width: 128px;
	height: 128px;
}
.thumbnail {
	font-size: 0;
	margin-bottom: 1px;
}
