.summary {
	display: inline-block;
	position: relative;
	z-index: 10;
}
.summary.nofile {
	/*TODO background images for generic view/thumb */
	background-color: #f00;
}
.summary a {
	display: block;
	width: 100%;
	height: 100%;
}
/*checker bg*/
:root {
	--checker_h: rgba(255, 255, 255, 0.20);
}
.medium, .thumbnail {
	position: relative;
	background-position: center;
	background-color: #101010;
	background-image: url('data:image/svg+xml,\
		<svg class="checker" xmlns="http://www.w3.org/2000/svg" width="48" height="48">\
			<rect x="24" width="24" height="24" />\
			<rect y="24" width="24" height="24" />\
		</svg>');
	/*background-attachment: fixed;*/
}
.medium::before, .thumbnail::before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;

	background-color: var(--checker_h);
}
