/*management drawer*/
#manage_drawer {
	display: block;
	width: 100%;
	color: var(--f_h);
	background-color: var(--b_h);
	text-align: left;
	border-top: 1px solid var(--background);
	z-index: 1000;	
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: right;
}
#manage_drawer:not(.loaded) {
	transition: none!important;
	opacity: 0;
}
#manage_drawer a,
#selection_total {
	display: inline-block;
	color: var(--f_h);
	background-color: var(--b_h);
	margin: 0.25em;
	padding: 0.75em 1em;
	margin: 0;
	text-decoration: none;
	border-left: 1px solid var(--background);
	font-size: 0.9em;
	cursor: pointer;
}
#selection_total {
	cursor: default;
}
/*transition times*/
#topmenu,
#topmenu a,
#topmenu a::after,
#manage_drawer,
#manage_drawer a,
#manage_drawer a::after,
#selection_total,
#tags_this_page .header,
.thumbnail,
.thumbnail::before {
	transition: background-color 100ms, color 100ms, border-color 100ms, height 250ms;
}
.summary.nofile::before {
	transition: width 250ms, height 250ms, top 250ms, left 250ms;
}
.summary::after {
	transition: border-radius 250ms;
}
/*management mode main colors*/
.managing_media #topmenu,
.managing_media #topmenu a,
.managing_media #manage_drawer,
.managing_media #manage_drawer a,
.managing_media #selection_total,
.managing_media #tags_this_page .header {
	color: #ffffff;
	background-color: #4060c0;
}
.managing_media .thumbnail {
	cursor: pointer;
}
#topmenu #top_manage {
	float: right;
	border-right: none;
	border-left: 1px solid var(--background);
	cursor: pointer;
}
/*management mode thumbnail saturation* /
.managing_media picture,
.managing_media video {
	filter: brightness(35%);
}
.managing_media picture:hover,
.managing_media video:hover,
.managing_media .selected picture,
.managing_media .selected video {
	filter: brightness(100%);
}
/*management mode thumbnail backgrounds*/
.managing_media .thumbnail {
	background-color: #4060c0;
}
.managing_media .thumbnail::before {
	background-color: rgba(64, 96, 192, 0.80);
}
/*managing mode thumbnail selection transitions*/
.managing_media picture,
.managing_media video {
	transition: border-width 100ms;
	border: 0 solid transparent;
	box-sizing: border-box;
}
.managing_media .selected picture,
.managing_media .selected video {
	border-width: 16px;
}
/*selected thumbnail background*/
.managing_media .thumbnail.selected {
	background-color: #ff00c0;
	z-index: 990;
}
.managing_media .thumbnail.selected::before {
	background-color: rgba(255, 0, 192, 0.80);
}
.managing_media .thumbnail.selected .summary.nofile::before {
	/** /
	width: 64%;
	height: 64%;
	top: 18%;
	left: 18%;
	/**/
}
/*processing/success/failure thumbnails*/
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
.thumbnail.processing .summary::after {
	border-radius: 50%;
	background-image: url(processing.svg)!important;
	-webkit-animation: spin 1s ease infinite;
	-moz-animation: spin 1s ease infinite;
	-ms-animation: spin 1s ease infinite;
	-o-animation: spin 1s ease infinite;
	animation: spin 1s ease infinite;
	display: inline-block;
}
.thumbnail.success .summary::after {
	border-radius: 50%;
	background-image: url(success.svg)!important;
	display: inline-block;
}
.thumbnail.failure {
	background-color: #ff0000;
}
.thumbnail.failure::before {
	background-color: rgba(255, 0, 0, 0.80);
}
/*full view thumbnails on hover*/
.managing_media:not(.active_panel) .thumbnail:hover video,
.managing_media:not(.active_panel) .thumbnail:hover picture,
.managing_media:not(.active_panel) .thumbnail:hover picture img {
	object-fit: contain;
}
/*conditional manage actions*/
[data-selection_total="0"] #manage_drawer a:not(#manage_select_all),
body[data-selection_total="0"] #manage_drawer #manage_generate_set,
body[data-selection_total="1"] #manage_drawer #manage_generate_set,
[data-selection_total="all"] #manage_drawer #manage_select_all {
	display: none;
}
/*drag select*/
.thumbnail {
	user-select: none;
}
#blank, #selection_box {
	position: absolute;
	top: 0;
	left: 0;
}
#blank {
	z-index: 110;
	cursor: none;
	width: 2px;
	height: 2px;
}
#selection_box {
	border: 0.33em dashed var(--f_l);
	border-radius: 0.5em;
	z-index: 1020;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}
/*management panels*/
#manage_panels {
	display: none;
}
#manage_active_panel {
	display: none;
}
.active_panel #manage_active_panel {
	display: block;
	width: 50%;
	position: fixed;
	bottom: 0;
	right: 1.5em;
	z-index: 1010;
}
#manage_active_panel form {
	background-color: var(--background);
	border: solid 1px var(--background);
	overflow: hidden
}
/*remove top margin from active panel form elements*/
#manage_active_panel input:first-child,
#manage_active_panel select:first-child,
#manage_active_panel label:first-child,
#manage_active_panel *:first-child + input,
#manage_active_panel *:first-child + select,
#manage_active_panel *:first-child + label,
#manage_active_panel legend:first-child + * + input,
#manage_active_panel legend:first-child + * + select,
#manage_active_panel legend:first-child + * + label {
	margin-top: 0;
}
/*hide built in legends from panels*/
#manage_active_panel legend {
	display: none;
}
#manage_panel_groups input[type="submit"] {
	margin-top: 1px;
}
/*dim background of active panels*/
#dim {
	display: none;
}
.active_panel #dim {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 980;
	background-color: #000000;
	opacity: 0.66;
}
.active_panel .thumbnail a {
	cursor: default;
}
/*tag editor*/
.manage_panel .tags_preview_wrapper {
	padding: 0 0 1px 1px;
}
.tags_preview_wrapper + input {
	margin-top: 0;
	outline: none;
	width: 100%;
}
/*smaller screens*/
@media only screen and (max-width: 1366px)
{
}
@media only screen and (max-width: 1280px)
{
	/*topmenu icons in manage mode*/
	.managing_media #topmenu a::after {
		background-color: #ffffff;
	}
	/*drawer icons*/
	#manage_drawer {
		font-size: 0;
	}
	#manage_drawer a {
		width: 48px;
		height: 48px;
		position: relative;
	}
	#manage_drawer a::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mask-type: luminance;
		mask-size: contain;
		-webkit-mask-type: luminance;
		-webkit-mask-size: contain;
		background-color: var(--background);
	}
	.managing_media #manage_drawer a::after {
		background-color: #ffffff;
	}
	#manage_select_all::after {
		mask-image: url(manage_select_all.svg);
		-webkit-mask-image: url(manage_select_all.svg);
	}
	#manage_select_none::after {
		mask-image: url(manage_select_none.svg);
		-webkit-mask-image: url(manage_select_none.svg);
	}
	#manage_remove_tags::after {
		mask-image: url(manage_remove_tags.svg);
		-webkit-mask-image: url(manage_remove_tags.svg);
	}
	#manage_add_tags::after {
		mask-image: url(manage_add_tags.svg);
		-webkit-mask-image: url(manage_add_tags.svg);
	}
	#manage_copy_tags::after {
		mask-image: url(manage_copy_tags.svg);
		-webkit-mask-image: url(manage_copy_tags.svg);
	}
	#manage_generate_set::after {
		mask-image: url(manage_generate_set.svg);
		-webkit-mask-image: url(manage_generate_set.svg);
	}
	#manage_protection::after {
		mask-image: url(manage_protection.svg);
		-webkit-mask-image: url(manage_protection.svg);
	}
	#manage_searchability::after {
		mask-image: url(manage_searchability.svg);
		-webkit-mask-image: url(manage_searchability.svg);
	}
	#manage_groups::after {
		mask-image: url(manage_groups.svg);
		-webkit-mask-image: url(manage_groups.svg);
	}
	#manage_remove::after {
		mask-image: url(manage_remove.svg);
		-webkit-mask-image: url(manage_remove.svg);
	}
	#manage_build::after {
		mask-image: url(manage_build.svg);
		-webkit-mask-image: url(manage_build.svg);
	}
	#manage_creation::after {
		mask-image: url(manage_creation.svg);
		-webkit-mask-image: url(manage_creation.svg);
	}
	#manage_owner::after {
		mask-image: url(manage_owner.svg);
		-webkit-mask-image: url(manage_owner.svg);
	}
	#selection_total {
		font-size: 12pt;
		text-align: center;
		width: 48px;
		line-height: 48px;
		vertical-align: bottom;
		padding: 0;
	}
}
@media only screen and (max-width: 800px)
{
	/*TODO at very narrow screens put drawer items under an overflow menu*/
}
