#premium {
	width: 480px;
}
.card {
	border-radius: 0;
}
.card.header {
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	background-color: var(--b_m);
	color: var(--f_m);
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}
.card:last-child {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.card + .card {
	margin-top: 1px;
}
.groups {
	font-size: 0.9em;
	padding: 0 0 0.25em 0.25em;
}
.group {
	display: inline-block;
	margin: 0.25em 0.25em 0 0;
	border-radius: 0.25em;
	padding: 0.1em 0.25em;
	background-color: var(--b_m);
	color: var(--f_m);
}
