:root {
	--per_row: 8;
}
#content {
	display: block;
}
#media_search, #results {
	width: 100%;
}
#results {
	display: grid;
	grid-template-columns: repeat(8, 8fr);
	grid-gap: 1px;
}
#search input[type=text] {
	width: 100%;
	margin-top: 0;
	outline: none;
}
#search {
	margin-bottom: 1em;
}
.menu {
	text-align: left;
}
.menu a {
	margin-left: 0;
	margin-right: 0.75em;
}
#total_media {
	float: right;
}
#tags_this_page {
	margin-bottom: 1em;
	border-radius: 0.25em;
	overflow: hidden;
}
#tags_this_page .header {
	display: inline-block;
	background-color: var(--b_m);
	color: var(--f_m);
	width: 100%;
	padding: 0.25em 0.5em;
	box-sizing: border-box;
	text-align: right;
	font-size: 0.9em;
}
#tags_this_page>div {
	margin-top: 1px;
	text-align: left;
	background-color: var(--b_h);
	padding-left: 1px;
	padding-bottom: 1px;
	font-size: 0;
}
/*omit some rendering tags from tags_this_page to reduce clutter*/
#tags_this_page .tag[data-tag^="filename:"],
#tags_this_page .tag[data-tag^="set:"],
#tags_this_page .tag[data-tag^="cover:"],
#tags_this_page .tag[data-tag^="mirror:"],
#tags_this_page .tag[data-tag^="superior of:"],
#tags_this_page .tag[data-tag^="inferior of:"],
#tags_this_page .tag[data-tag^="next:"],
#tags_this_page .tag[data-tag^="prev:"],
#tags_this_page .tag[data-tag^="suppress:"] {
	display: none;
}
/*set tiles*/
.set {
	display: inline-block;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 10;
	width: 12%;
	height: 12%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(set.svg);
	border-radius: 0.25rem;
	overflow: hidden;
	background-size: contain;
}
.set + .set {
	display: none;
}
/*group tiles*/
.group_tiles {
	display: inline-block;
	position: absolute;
	z-index: 10;
	width: calc(100% - 1rem);
	height: 12%;
	bottom: 0.5rem;
	right: 0.5rem;
	text-align: right;
}
.group_tile {
	display: inline-block;
	width: 12%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.25rem;
	overflow: hidden;
	background-size: contain;
	background-image: url(protection.svg);
	margin-left: 0.25rem;
}

/*js search box*/
.scripts_enabled #tags {
	display: none;
}
.tags_preview_wrapper {
	font-size: 0;
	padding-left: 1px;
	padding-bottom: 1px;
	background-color: var(--b_h);
	color: var(--f_h);
	text-align: left;
}
.tags_preview_wrapper .tag {
	cursor: pointer;
}
/*js tags this page*/
.scripts_enabled #tags_this_page .header {
	cursor: pointer;
	text-decoration: underline;
}
#tags_this_page.closed>div {
	display: none;
}

@media only screen and (max-width: 1024px) {
	#results {
		grid-template-columns: repeat(4, 4fr);
	}
}
@media only screen and (max-width: 512px) {
	#results {
		grid-template-columns: repeat(2, 2fr);
	}
}
