#upload {
	width: 400px;
	margin: 0 auto;
}
#groups, #properties, #tagging, #creation {
	margin-top: 1em;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	overflow: hidden;
}
.form_file .file_selection {
	display: none;
}
.form_file {
	margin: 0px;
}
label[for=file_upload] {
	position: relative;
	width: 100%;
	border: none;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-size: 2em;
	line-height: 128px;
	text-align: center;
	padding: 0;
}
#file_upload {
	width: 100%;
	height: 0px;
	padding: 0px 0px 128px 0px;
}
label[for=file_upload]::after {
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	content: "";
	display: block;
	width: calc(100% - 0.66em - 0.5em);
	height: calc(128px - 0.66em - 0.5em);
	border: 0.33em dashed var(--f_l);
	border-radius: 0.5em;
}
input[type=submit] {
	margin-top: 1em;
	border-radius: 0.25em;
}
/*js upload top alignment*/
.scripts_enabled #content {
	display: block;
}
/*advanced options*/
#advanced {
	font-size: 1em;
	color: var(--foreground);
	cursor: pointer;
	text-decoration: underline;
	text-align: right;
}
#groups,
#properties,
#tagging {
	display: none;
}
.advanced #groups,
.advanced #properties,
.advanced #tagging {
	display: block;
}
/*js upload submit*/
.scripts_enabled input[type=submit] {
	display: none;
}
/*js upload previews*/
#previews {
	margin-top: 2em;
	text-align: center;
}
.preview {
	margin-top: 1em;
	border-radius: 0.25em;
	overflow: hidden;
	position: relative;
}
.filename {
	display: none;
}
.placeholder {
	background-color: var(--b_m);
	width: 100%;
	height: 128px;
	overflow: hidden;
	transition: border-radius 250ms, height 250ms, background-color 250ms, margin 250ms;
}
.processing .placeholder,
.success .placeholder,
.failure .placeholder {
	transition: border-radius 250ms, height 250ms, background-color 250ms, margin 250ms, width 250ms;
}
@keyframes bob {
	0% {
		-webkit-transform: translateY(-25%);
	}
	50% {
		-webkit-transform: translateY(25%);
	}
	100% {
		-webkit-transform: translateY(-25%);
	}
}
@keyframes dip {
	0% {
		-webkit-transform: translateY(25%);
	}
	50% {
		-webkit-transform: translateY(-25%);
	}
	75% {
		-webkit-transform: translateY(25%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
.processing .placeholder,
.complete .placeholder {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	margin: 48px calc(50% - 16px);
	background-color: #ffffff;
}
.processing .placeholder {
	-webkit-animation: bob 2s ease infinite;
	-moz-animation: bob 2s ease infinite;
	-ms-animation: bob 2s ease infinite;
	-o-animation: bob 2s ease infinite;
	animation: bob 2s ease infinite;
}
.complete .placeholder {
	-webkit-animation: dip 500ms ease infinite;
	-moz-animation: dip 500ms ease infinite;
	-ms-animation: dip 500ms ease infinite;
	-o-animation: dip 500ms ease infinite;
	animation: dip 500ms ease infinite;
}
.thumbnail {
	transition: opacity 250ms;
}
.complete .thumbnail {
	opacity: 0;
}
.success .thumbnail {
	opacity: 1;
}
.thumbnail .summary video,
.thumbnail .summary picture,
.thumbnail .summary picture img {
	max-width: 100%;
	max-height: 128px;
	object-position: center center;
	transition: width 250ms, height 250ms;
}
.thumbnail .summary.nofile {
	height: 0;
	padding-bottom: 128px;
}
/*failure*/
.failure .filename {
	display: block;
	border-bottom: 1px solid var(--background);
	padding: 0 0.5em;
	box-sizing: border-box;
	text-align: left;
	font-size: 0.8em;
	color: #ffffff;
	background-color: #ff0000;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.failure .placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fffffff;
	background-color: #ff0000;
	height: calc(128px - 2rem);
}
