.medium {
	display: block;
	margin-bottom: 1px;
	font-size: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	/*checker*/
	--checker_h: #c0c0c0;
	--checker_l: #808080;
	background-color: var(--checker_h);
	background-image:
		-moz-linear-gradient(45deg, var(--checker_l) 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, var(--checker_l) 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, var(--checker_l) 75%),
		-moz-linear-gradient(-45deg, transparent 75%, var(--checker_l) 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, var(--checker_l)), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, var(--checker_l)), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, var(--checker_l))),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, var(--checker_l)));

	-moz-background-size: 32px 32px;
	background-size: 32px 32px;
	-webkit-background-size: 32px 32px;

	background-position: 0 0, 16px 0, 16px -16px, 0px 16px;
}
.info {
	background-color: var(--b_h);
	color: var(--f_h);
	padding: 0.33em 0.75em;
	text-align: left;
	font-size: 0.8em;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.info>span {
	display: inline-block;
	margin-right: 0.75em;
}
.info a {
	color: var(--f_h);
}
.info .manage {
	margin-left: 2em;
	margin-right: 0px;
	float: right;
}
.summary {
	display: inline-block;
}
.summary.view.nofile {
	width: 512px;
	height: 512px;
}
